.filter-group {
    padding: 20px;
}

.row {
    margin-top: 1rem;
}

.card {
    width: 20rem;
}

.graph {
    cursor: pointer;
}

.large-graph-container {
    width: 800px;
    height: 200px;
    margin: auto;
}
